.crew {

}

.item p {    
    white-space: normal;
    text-align: justify;
    margin-left: 20px;
}

.item h1 {
    white-space:normal;  
    margin-bottom: 20px;
    margin-left: 20px;
}

.item h2 {
    white-space:normal;  
    margin-bottom: 20px;
    margin-left: 20px;
}
