.home {
    
}

#crewMessage{
    float:left
}

#addCrewButton{
    margin-top: 20px;
    margin-bottom: 10px;
    border-width: 2px;
    border-color:rgb(0, 0, 100); 
    color:black;   
}

#crewButton{
    border-color:rgb(0, 0, 100);
    border-width: 2px;
    color:black;
}