<ion-header> 
    <ion-navbar>
        <ion-title>Home <ion-icon name="md-person"></ion-icon> {{userText}}</ion-title>
    </ion-navbar> 
</ion-header>
 
<ion-content>
    <ion-grid>
        <ion-row *ngIf="haveCrews">
            <ion-col width-50 offset-25>
                <h1>USER CREWS</h1>
                <ion-item *ngFor="let item of userCrews">
                    <button ion-button large block round outline color="red" (click)="clickCrew(item.id,item.name)">
                        <ion-icon icon-left margin-right="50px" name="logo-buffer"></ion-icon>{{item.name}}  <ion-icon margin-left="50px" name="arrow-dropright"></ion-icon>
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!haveCrews">
            <ion-col width-50 offset-25>
                <h1><ion-icon name="information-circle"></ion-icon> It appears that you don't have any movie list. </h1>
            </ion-col> 
        </ion-row>
    </ion-grid>
</ion-content>